<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itcast.dao.UserMapper">
  <resultMap id="BaseResultMap" type="cn.itcast.domain.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_number" jdbcType="VARCHAR" property="userNumber" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="type" jdbcType="INTEGER" property="type" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.itcast.domain.User">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user (user_number, `name`, `password`, 
      `type`)
    values (#{userNumber,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{type,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.itcast.domain.User">
    update user
    set user_number = #{userNumber,jdbcType=VARCHAR},
      `name` = #{name,jdbcType=VARCHAR},
      `password` = #{password,jdbcType=VARCHAR},
      `type` = #{type,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, user_number, `name`, `password`, `type`
    from user
    where id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, user_number, `name`, `password`, `type`
    from user
  </select>
  <select id="getUser"  parameterType="cn.itcast.domain.User"  resultMap="BaseResultMap" >
    select id, user_number, `name`, `password`, `type`
    from user
    where `name` = #{name} and `password`=#{password} and user_number = #{userNumber}
  </select>
</mapper>